<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon style="color:rgb(0,0,0);" name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button *ngIf="hidelogin == false" ion-button clear (click)="openModal()" end>
        Login
      </button>
      <button *ngIf="hidelogin == true" ion-button clear (click)="logout()" end>
        Logout
      </button>
      <button ion-button clear (click)="openPopover()" end>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Cinema Application
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="background">
  <ion-searchbar placeholder="Search for a movie" [showCancelButton]="shouldShowCancel" [(ngModel)]="searchTerm"
    (ionInput)="setFilteredItems()"></ion-searchbar>

  <ion-grid text-center>
    <ion-row>
      <ion-col>
        <ion-item text-wrap id="registration-select1" class="register-input">
          <ion-label stacked>
            Search by category
          </ion-label>
          <ion-select text-wrap class="select-font" (ionChange)="selMovie($event)" text-wrap>
            <ion-option text-wrap *ngFor="let x of cat2 " [value]="x.category2">
              {{x.category2}}
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item text-wrap id="registration-select1" class="register-input">
          <ion-label stacked>
            Filter by availability
          </ion-label>
          <ion-select text-wrap class="select-font" (ionChange)="selDate($event)" text-wrap>
            <ion-option text-wrap *ngFor="let x of availability " [value]="x.released">
              {{x.released}}
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="cardImg" *ngFor="let x of movies">
    <ion-card-header>
      <ion-card-title>{{x.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img class="storePic" center src="{{x.picUrl}}" (click)="gotoView(x)" />
    </ion-card-content>
  </ion-card>
  <div *ngIf="length == null">
    <p style="color:red; text-align:center;">No movies found</p>
  </div>
</ion-content>
<ion-footer>
  {{loginStatus}}
</ion-footer>

<!-- <ion-avatar item-start *ngIf="hidelogin == true">
  <img src="{{userPic}}">
</ion-avatar> -->
